<h2>Movie Details</h2>

<div>
    <li>{{movie.title}}</li>  
    <li>{{movie.genre}}</li> 
    <li> {{movie.plot}}</li>
</div>
<br>
{{#each movie.cast}}
    <li>{{this.name}}</li> 
    <li>{{this.occupation}}</li>
    <li>{{this.catchPhrase}}</li> 
    <br>
{{/each}}

<form action="/movies/{{movie._id}}/delete" method="post">

<button>Delete Movie</button>

</form>

<a href="/movies/{{movie._id}}/edit"><button>Edit</button></a>

